#logo{
    margin: 10px;
}

body{
    background: radial-gradient(yellow,white);
}

header {
        background-color:#FDBF2B;
}

nav {
    overflow: hidden;
    float: right;
    margin-right: 40px;
    margin-top: 55px;
}

h2{
    display: inline-block;
    margin-top: 65px;
    margin-left: 20px;
    position:absolute;
    font-weight: bold;
    font-size: 35px;
    font-family: Arvo;
}

nav a {
    float: left;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
    font-family: Arvo;
    font-weight: bold;
    color:black;

}

nav a:hover{
    color: white;
}

.logo{
    margin: 10px;
    display: inline-block;
    float: left;
}

#FirstPic{
    margin-left: 8%;
    margin-top: 5%;
    float: left;
}

#SecondPic{
    float: right;
    margin-top: 30%;
    margin-bottom: 5%;
    margin-right: 8%;
    
}

.academy{
        font-style: italic;
}

.rightcontent {
        color: #0000ff;
        font-family: Arvo;
        font-size: 25px;
        width: 60%;
        float: right;
        margin-top: 10%;
}

.hightlight{
        font-size: 30px;
        font-weight: bold;
        
    
}

.leftcontent {
        float: left;
        color: #0000ff;
        font-family: Arvo;
        width: 40%;
        font-size: 25px;
        margin-left: 5%;
        margin-top: 10%;
       
}

.container{
        margin: auto;
        max-width:100%;
        height: auto;
        display: block;
        
}

.para{
    color:#0000ff;
    font-family: Arvo;
    text-align: center;
    font-size: 25px;
    padding-left: 5%;
    padding-right: 5%;
    margin: 3%;
}

.line{
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    font-family: "Lobster";
}

table, th, td{
        font-family: Arvo;
        border: 0.5px solid black;
}

th,td{
    padding: 10px;
}

table{
    width: 80%;
    border-collapse: collapse; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

tr:hover {
    background-color:#f5f5f5;
    font-weight: bold;
}

th{
    height: 60px;
    font-weight:bold;
    font-size: 25px;
}

td{
    height: 70px;
    font-size: 20px;
}

form{
    font-family: Arvo;
    padding-left: 1em;
    width:30%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12%;
    
}

label{
       
        width: 100px;
        
       
        text-align: right;
        margin-top: 10px;
         margin-left: auto;
    margin-right: auto;
}

input{
    
    display: block;
    font-family: Arvo;
     margin-bottom: 0.5em;
    font-weight: bold;
    margin-top: 10px;
    width: 400px;

}

textarea {
        display: block;
        font-family: Arvo;
         margin-bottom: 1em;
        margin-top: 10px;
    width: 400px;
}

#mySubmit{
    width: 100px;
}


footer {
        position:relative;
        font-family: Arvo;
        clear: both;
        right: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: #FDBF2B;
}

@media screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) 
{

    table, thead, tbody, th, td, tr {
                        display: block;
                        }

    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr {
        border: 1px solid #ccc;
    }
    
    td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }
    
    td:before {
        position: absolute;
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }
    
    td:nth-of-type(1):before { content: "Dance Style"; }
    td:nth-of-type(2):before { content: "Instructor"; }
    td:nth-of-type(3):before { content: "Schedule"; }
    td:nth-of-type(4):before { content: "Price(Per Year)"; }
    td:nth-of-type(5):before { content: "Eligibility Area"; }
}